<main-header></main-header>

<div>
  <div id="zion" class="paralax"></div>
</div>

<!-- The links in the main header take you to the coresponding "id" location in the code  -->
<div class="container" id="about">
  <div >
    <h1>Thomas Tate</h1>
    <h3>Full Stack Developer</h3>
  </div>
</div>

<div>
  <div id="mountain" class="paralax"></div>
</div>

<div class="container">
  <div id="skills">




  </div>
</div>

  <div id="portfolio" class="paralax" >
    <h1>Portfolio</h1>
    <div class="project-container">
      <div id="twitterclone"></div>
      <div id="marvelarchive"></div>
      <div id="marsbags"></div>
    </div>
  </div>

<footer id="contact" class="container">
  <h1>Get In Touch</h1>

</footer>
