<main-header></main-header>

<div>
  <div id="zion" class="paralax"></div>
</div>

<!-- The links in the main header take you to the coresponding "id" location in the code  -->
<div class="container" id="about">
  <div class="content-div">
    <img id="img-circle" src="images/4321.jpg" alt="Profile Picture"></img>
  </div>
  <div class="content-div">
    <h1>Thomas Tate</h1>

    <h3>Full Stack Developer</h3>

    <p>I design</p>

  </div>
</div>

<div>
  <div id="mountain" class="paralax"></div>
</div>

<div class="container" id="skills">
  <div>
    <img class="svg" src="images/angular-icon.svg" alt="Angular Icon"></img>

    <img class="svg" src="images/bootstrap-icon.svg" alt="bootstrap Icon"></img>

    <img class="svg" src="images/html5.svg" alt="HTML5 Icon"></img>

    <img class="svg" src="images/css-3.svg" alt="CSS3 Icon"></img>

    <img class="svg" src="images/javascript.svg" alt="Javascript Icon"></img>

    <img class="svg" src="images/nodejs-1.svg" alt="Node.js Icon"></img>

    <img class="svg" src="images/git-icon.svg" alt="Git Icon"></img>

    <img class="svg-2" src="images/jquery.svg" alt="jQuery Icon"></img>

    <img class="svg-2" src="images/mysql-5.svg" alt="SQL Icon"></img>

  </div>
</div>

  <div id="portfolio" class="paralax" >
    <!-- <div>
      <h1>Portfolio</h1>
    </div> -->

      <a href="https://toastertom.github.io/marvel_api/" target="_blank">
        <img class="project-box" src="images/MADBsmall.png" id="marvelarchive"></img>
      </a>

    </div>
  </div>

<footer id="contact" class="container">
  <h1>Get In Touch</h1>
  <div>
    <a href="https://www.linkedin.com/in/thomas-tate-a0240638" target="_blank">
      <img class="social-links" src="images/linkedin-icon.svg" alt="Linkedin Icon"></img>
    </a>

    <a href="https://github.com/toastertom" target="_blank">
      <img class="social-links" src="images/github-icon.svg" alt="GitHub Icon"></img>
    </a>

    <a href="mailto:tate.thomas5595@gmail.com">
      <img class="social-links" src="images/Email-02.svg" alt="E-Mail"></img>
    </a>
  </div>

</footer>
