<main-header></main-header>

<div>
  <div id="zion" class="paralax"></div>
</div>

<!-- The links in the main header take you to the coresponding "id" location in the code  -->
<div class="container" id="about">
  <div class="content-div">
    <img id="img-circle" src="images/4321.jpg"></img>
  </div>
  <div class="content-div">
    <h1>Thomas Tate</h1>
    <h3>Full Stack Developer</h3>
  </div>
  <div class="content-div">
    <p>bla bla bla what is up i plan on writing something profound right here but for now let it be this bla bla bla.</p>
  </div>
</div>

<div>
  <div id="mountain" class="paralax"></div>
</div>

<div class="container">
  <div id="skills">
    <img class="svg" src="images/angular-icon.svg" alt="Angular Icon"></img>

    <img class="svg" src="images/bootstrap-icon.svg" alt="bootstrap Icon"></img>

    <img class="svg" src="images/html5.svg" alt="HTML5 Icon"></img>

    <img class="svg" src="images/css-3.svg" alt="CSS3 Icon"></img>

    <img class="svg" src="images/javascript.svg" alt="Javascript Icon"></img>

    <img class="svg" src="images/nodejs-1.svg" alt="Node.js Icon"></img>

    <img class="svg" src="images/git-icon.svg" alt="Git Icon"></img>

    <img class="svg-2" src="images/jquery.svg" alt="jQuery Icon"></img>

    <img class="svg-2" src="images/mysql-5.svg" alt="SQL Icon"></img>

  </div>
</div>

  <div id="portfolio" class="paralax" >
    <h1>Portfolio</h1>
    <div class="project-container">
      <div id="twitterclone"></div>
      <div id="marvelarchive"></div>
      <div id="marsbags"></div>
    </div>
  </div>

<footer id="contact" class="container">
  <h1>Get In Touch</h1>

</footer>
