body {
  font-family: roboto;
  width: 100%;
  padding: 0;
  margin: 0;
  height: auto;
}

/*Navbar*/
.main-header{
  width: 100%;
  position: fixed;
  box-shadow: 0px 0px 100px 100px rgba(0,0,0, 0.4);
  top: 0;
  left: 0;
  z-index: 9999;
}
#navbar {
  text-align: center;
  background:rgba(0,0,0, 0.4);
}
ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  padding-top: 20px;
  padding-bottom: 20px;
}
li{
  display: inline;
  margin: 30px 30px;
  margin-top: 30px;
  padding: 15px;
  text-decoration: none;
}

a {
  color: #fff;
  text-decoration: none;
}

@media (max-height: 600px) {
  #navbar {
    background-color: #fff;
  }
}

/*Main*/
#mountain {
    background-image: url("../images/Mountain.jpg");
}

#zion{
  background-image: url("../images/Zion.jpg");
}

.paralax {
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  height: auto;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

/*About Section*/
#about {
  text-align: center;
  font-weight: thin;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-div {
  margin-left: 5px;
  margin-right: 5px;
}

#img-circle {
  border-radius: 50%;
  width: 230px;
  height: 230px;
}

h1 {
  margin-bottom: 5px;
}

h3 {
  margin-top: 10px;
}

p {
  width: 350px;
}

/*Skills Section*/
#skills {
  text-align: center;
}
.svg {
height: 120px;
width: 120px;
margin: 20px 20px;
}

.svg-2 {
height: 150px;
width: 150px;
margin: 15px 15px;
}

/*Portfolio Section*/
#portfolio {
  background-image: url("../images/designa.JPG");
  background-size: cover;
  padding-top: 20px;
  text-align: center;
}

#portfolio h1{
  margin: 0;
  margin-top: 30px;
  width: 100px;
  background-color: #fff;
}

.project-container{
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

}

img.project-box {
  width: 540px;
  height: 350px;
  margin: 20px;
  background: cover;
}

#twitterclone {
  background-color: red;

}

#marvelarchive {


}

#marsbags {
  background-color: red;

}

/*Footer Section*/

footer {
  text-align: center;
}

footer h1 {
  font-size: 60px;
  margin-top: 0px;
}

.social-links {
  height: 70px;
  width: 70px;
  margin: 10px;
}
