body {
  font-family: roboto;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 10000px;
}

/*Navbar*/
.main-header{
  width: 100%;
  position: fixed;
  box-shadow: 0px 0px 100px 100px rgba(0,0,0, 0.4);
  top: 0;
  left: 0;
  z-index: 9999;
}
#navbar {
  text-align: center;
  background:rgba(0,0,0, 0.4);
}
ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  padding-top: 20px;
  padding-bottom: 20px;
}
li{
  display: inline;
  margin: 30px 30px;
  margin-top: 30px;
  padding: 15px;
  text-decoration: none;
}

a {
  color: #fff;
  text-decoration: none;
}

/*Main*/
#mountain {
    background-image: url("../images/Mountain.jpg");
}

#zion{
  background-image: url("../images/Zion.jpg");
}

.paralax {
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  height: auto;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

/*About Section*/
#about {
  text-align: center;
  font-weight: thin;
  font-size: 20px;
}

/*Skills Section*/
#skills {
  text-align: center;
}
svg {
height: 100px;
width: 100px;
margin: 20px 20px;
}

/*Portfolio Section*/
#portfolio {
  background-image: url("../images/designa.JPG");
  background-size: cover;
  padding-top: 20px;
  text-align: center;
}

#portfolio h1{
  margin: 0;
  margin-top: 30px;
  width: 100%;
}

.project-container{
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

}

#twitterclone {
  width: 250px;
  height: 250px;
  background-color: red;
  margin: 20px;
  margin-top: 70px;
}

#marvelarchive {
  width: 250px;
  height: 250px;
  background-color: red;
  margin: 20px;
  margin-top: 70px;
}

#marsbags {
  width: 250px;
  height: 250px;
  background-color: red;
  margin: 20px;
  margin-top: 70px;
}

/*Footer Section*/

footer {
  text-align: center;
}
