body {
  font-family: roboto;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 800px;
}
/*Navbar*/
.main-header{
  width: 100%;
  position: fixed;
  box-shadow: 0px 0px 100px 100px rgba(0,0,0, 0.4);
  top: 0;
  left: 0;
  z-index: 9999;
}
#navbar {
  text-align: center;
  background:rgba(0,0,0, 0.4);


}
ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  padding-top: 20px;
  padding-bottom: 20px;
}
li{
  display: inline;
  margin: 30px 30px;
  margin-top: 30px;
  padding: 15px;
  text-decoration: none;
}

a {
  color: #fff;
  text-decoration: none;
}

/*Main*/
#mountain {
    background-image: url("../images/Mountain.jpg");
}
#zion{
  background-image: url("../images/Zion.jpg");
}

.paralax {
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

#about {
  text-align: center;
  font-weight: thin;
  font-size: 20px;
}
#skills {
  text-align: center;
}
svg {
height: auto;
width: 200px;
margin: 20px 20px;
}
